<h1>This is secret page</h1>

<img src="https://store.donanimhaber.com/ae/09/78/ae0978e7435fc9b1244ee44dc37dcfa2.jpeg">

<h1>This is home page</h1>

<li><a href="/api/register">Sign Up</a></li>
<li><a href="/api/login">Log in</a></li>
<li><a href="/api/logout">Log out</a></li>